.about {
  color: #383a4c;
  background: #f9f9f9;
}

.section__header--about {
  margin-bottom: 25px;
}

.section__mid-header--about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;

  margin-bottom: 34px;
}

.section__mid-header--about::before,
.section__mid-header--about::after {
  display: inline-block;
  content: "";
  width: 43px;
  height: 2px;
  background: #383a4c;
}

.about__section-text {
  font-size: 18px;
  line-height: 140%;
  max-width: 724px;
  height: 83px;
  margin-bottom: 52px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  counter-reset: count 0;
  padding-bottom: 2px;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  counter-increment: count;
}

.about__item-ellipse {
  position: relative;
  display: flex;
  width: 122px;
  height: 122px;
  fill: #23C7EC;
  background: url("../assets/ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about__item-ellipse::after {
  position: absolute;
  content: counter(count);
  color: #fff;
  top: 29%;
  left: 36%;
  font-family: "Roboto Medium", sans-serif;
  font-size: 57px;
  font-weight: 500;
  line-height: 100%;
}

.about__item-text {
  color: #383a4c;
  font-family: "Roboto Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  max-width: 196px;
}

@media (max-width: 1024px) {
  .section__header--about {
    margin-bottom: 24px;
    padding-top: 1px;
    padding-right: 2px;
    margin-bottom: 23px;
  }

  .section__mid-header--about {
    margin-bottom: 31px;
    padding-right: 3px;
  }

  .section__mid-header--about::before,
  .section__mid-header--about::after {
    width: 40px;
  }

  .about__section-text {
    max-width: 666px;
    height: 76px;
    font-size: 16px;
    margin-bottom: 49px;
  }

  .about__list {
    padding-bottom: 4px;
  }

  .about__item {
    gap: 26px 40px;
  }

  .about__item-ellipse {
    width: 104px;
    height: 104px;
  }

  .about__item-ellipse::after {
    font-size: 52px;
  }

  .about__item-text {
    max-width: 180px;
    vertical-align: middle;
    font-size: 18px;
  }
}

@media (max-width: 440px) {
  .about {
    padding-bottom: 60px;
  }

  .section__header--about {
    margin-bottom: 16px;
    padding-right: 0;
  }

  .section__mid-header--about {
    gap: 26px;
    margin-bottom: 29px;
    padding-right: 0;
  }

  .section__mid-header--about::before,
  .section__mid-header--about::after {
    margin-top: 3px;
    width: 20px;
    height: 1px;
  }

  .about__section-text {
    font-size: 12px;
    height: 85px;
    margin-bottom: 39px;
  }

  .about__list {
    gap: 40px;
    position: relative;
    padding-bottom: 2px;
  }

  .about__item-text {
    height: 52px;
  }
}