.about {
  color: #383a4c;
}

.section__header--about {
  margin-bottom: 25px;
}

.section__mid-header--about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;

  margin-bottom: 35px;
}

.section__mid-header--about::before,
.section__mid-header--about::after {
  display: inline-block;
  content: "";
  width: 43px;
  height: 2px;
  background: #383a4c;
}

.about {
  background: #f9f9f9;
}

.about__section-text {
  line-height: 140%;
  max-width: 724px;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  counter-reset: count 0;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  counter-increment: count;
}

.about__item-ellipse {
  position: relative;
  display: flex;
  width: 122px;
  height: 122px;
  fill: #23C7EC;
  background: url("../assets/ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about__item-ellipse::after {
  position: absolute;
  content: counter(count);
  color: #fff;
  top: 32px;
  left: 44px;
  font-family: "Roboto Medium", sans-serif;
  font-size: 57px;
  font-weight: 500;
  line-height: 100%;
}

.about__item-text {
  color: #383a4c;
  font-family: "Roboto Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}