.about {
  color: #383a4c;
}

.section__header--about {
  margin-bottom: 25px;
}

.section__mid-header--about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;

  margin-bottom: 35px;
}

.section__mid-header--about::before,
.section__mid-header--about::after {
  display: inline-block;
  content: "";
  width: 43px;
  height: 2px;
  background: #383a4c;
}

.about {
  background: #f9f9f9;
}

.about__section-text {
  font-size: 18px;
  line-height: 140%;
  max-width: 724px;
  margin-bottom: 50px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  counter-reset: count 0;
}

.about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  counter-increment: count;
}

.about__item-ellipse {
  position: relative;
  display: flex;
  width: 122px;
  height: 122px;
  fill: #23C7EC;
  background: url("../assets/ellipse.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about__item-ellipse::after {
  position: absolute;
  content: counter(count);
  color: #fff;
  top: 25%;
  left: 36%;
  font-family: "Roboto Medium", sans-serif;
  font-size: 57px;
  font-weight: 500;
  line-height: 100%;
}

.about__item-text {
  color: #383a4c;
  font-family: "Roboto Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  max-width: 200px;
}

@media (max-width: 1024px) {
  .section__header--about {
    margin-bottom: 23px;
  }

  .section__mid-header--about::before,
  .section__mid-header--about::after {
    width: 40px;
  }

  .about__section-text {
    max-width: 666px;
    font-size: 16px;
  }

  .about__item {
    gap: 26px 40px;
  }

  .about__item-ellipse {
    width: 104px;
    height: 104px;
  }

  .about__item-ellipse::after {
    font-size: 52px;
  }

  .about__item-text {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  .about {
    padding-bottom: 60px;
  }

  .section__header--about {
    margin-bottom: 15px;
  }

  .section__mid-header--about::before,
  .section__mid-header--about::after {
    width: 20px;
    height: 1px;
  }

  .about__section-text {
    font-size: 12px;
    margin-bottom: 40px;
  }

  
  .about__list {
    position: relative;
    padding-left: 40px;
    align-items: center;
    justify-content: center;

    max-height: 200px;
    flex-direction: column;
    overflow: hidden;
  }

  .about__list::before {
    position: absolute;
    display: block;
    content: url("../assets/left.svg");
    width: 25px;
    height: 25px;
    top: 31%;
    left: -15px;
  }

  .about__list::after {
    position: absolute;
    display: block;
    content: url("../assets/right.svg");
    width: 25px;
    height: 25px;
    top: 31%;
    left: 220px;
  }
}