.footer {
  background: #2f324b;
  padding: 0;
}

.container--footer {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 45px 0;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 19px;

  font-family: "Roboto Medium", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.copyright__text {
  line-height: 140%;
  text-align: left;
  max-width: 130px;
}

.footer__created-by {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Roboto Medium", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding-right: 7px;
}

.created-by-block {
  display: block;
}

@media (max-width: 1024px) {
  .container--footer {
    padding: 37px 30px 49px 30px;
  }

  .created-by-block {
    padding-right: 20px;
  }

  .copyright__text {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .footer, .container--footer {
    padding: 0;
    margin: 0;
  }

  .logo--footer {
    margin-left: 30px;
  }

  .phone-icon--footer {
    margin-right: 30px;
  }

  .copyright {
    padding: 25px 0;
  }

  .created-by {
    display: none;
  }

  .created-by-block {
    order: 1;
    width: 100%;
    padding: 15px 0;
    background-color: #2A2C3F;
  }

  .phone--footer {
    display: none;
  }

  .phone-icon--footer {
    display: block;
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 440px) {
  .logo--footer {
    margin-left: 15px;
  }

  .phone-icon--footer {
    margin-right: 15px;
  }

  .copyright__text {
    max-width: 90px;
    font-size: 8px;
    line-height: 140%;
  }

  .phone-icon--footer {
    display: block;
    height: 24px;
    width: 24px;
  }
}