.header {
  position: relative;
  background: rgba(47, 50, 75, 0.85);
  background-image: url('../images/present_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding-top: 40px;
  padding-bottom: 0;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.present {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.present__header {
  font-family: "Roboto Black", sans-serif;
  color: rgba(255, 255, 255, 0.86);
  text-align: center;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  margin-bottom: 35px;
  max-width: 990px;
}

.present__text {
  color: rgba(255, 255, 255, 0.75);
  line-height: 140%;
  font-size: 22px;
  line-height: 126%;

  max-width: 960px;
  margin-bottom: 90px;
}

.present__text--short {
  display: none;
}

.present__button {
  border: none;
  border-radius: 50px;
  color: #fff;
  font-family: "Roboto Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  background: #15A9CB;
  box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.30);
  padding: 12px 48px;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 26px;
  }

  .present {
    padding: 70px 0;
  }

  .present__header {
    font-size: 40px;
    max-width: 780px;
    margin-bottom: 28px;
  }

  .present__text {
    max-height: 70px;
    max-width: 754px;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 60px;
  }
}

@media (max-width: 440px) {
  .header {
    padding-top: 15px;
  }

  .present {
    padding: 65px 0;
  }

  .present__header {
    font-size: 20px;
    margin-bottom: 23px;
  }

  .present__text {
    display: none;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 64px;
  }

  .present__text--short {
    display: inline;
  }

  .present__button {
    width: 160px;
    font-size: 16px;
    padding: 9px 29px;
  }
}