.logo {
  height: 68px;
  width: 68px;
}

@media (max-width: 1024px) {
  .logo {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 440px) {
  .logo {
    height: 30px;
    width: 30px;
  }
}