.phone-icon {
  display: none;
  height: 24px;
  width: 24px;
}

.phone {
  display: flex;
  flex-direction: column;
}

.phone__number {
  font-size: 24px;
}

.phone__call-request-btn {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  cursor: pointer;

  padding-top: 5px;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .phone {
    margin-bottom: 4px;
    padding-right: 1px;
  }

  .phone__number {
    max-height: 26px;
    font-size: 21px;
    line-height: normal;
    padding-bottom: 2px;
  }

  .phone__call-request-btn {
    font-size: 13px;
    line-height: normal;
  }
}

@media (max-width: 440px) {
  .phone {
    display: none;
  }

  .phone-icon {
    display: inline;

  }

  .phone-icon--footer {
    margin-right: 16px;
  }
}