.phone-icon {
  display: none;
  height: 24px;
  width: 24px;
}

.phone {
  max-width: 210px;
}

.phone__number {
  font-size: 24px;
  padding-bottom: 3px;
}

.phone__call-request-btn {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;

  text-align: center;
  font-size: 16px;
}

@media (max-width: 1024px) {
  .phone__number {
    font-size: 21px;
  }

  .phone__call-request-btn {
    font-size: 13px;
  }
}

@media (max-width: 440px) {
  .phone {
    display: none;
  }

  .phone-icon {
    display: inline;
  }
}